@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --car-bg-color-page: #fff;
    --car-bg-color-header: #3C9AF0;
    --car-bg-color-comments: #C8C8C8;
    --car-bg-color-card-comment: #fff;
    --car-bg-color-footer: #3C9AF0;

    --car-border-color-cards: #3C9AF0;
    --car-border-color-comments: #3C9AF0;

    --car-font-color-brand: #fff;
    --car-font-color-title: #5E5E5E;
    --car-font-color-title-comment: #5E5E5E;
    --car-font-color-description: #5E5E5E;
    --car-font-color-coments: #3C9AF0;
    --car-font-color-footer: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: var(--car-bg-color-page);
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}